/* Menu Prfoile */
.menu{
    border: 1px solid black;
    width: 65%;
    height: 100vh;
    background-color: #222d32;
    color: white;
    position: absolute;
    left: -66%;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-img{
    display: block;
    width: 55px;
    padding-right: 1rem;
}

.profile-img img{
    border-radius: 50%;
    max-width: 100%;
}

.status{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.status::before{
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}